.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.no_item {
  margin: 30% 90%;
  color: white;
  font-size: 20px;
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: auto;
  }
}
