.card {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: rgb(61, 191, 243);
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}

.card:nth-of-type(odd) {
  background-color: rgb(4, 47, 65);
  color: beige;
}

.city {
  font-size: 25px;
  margin-left: 5%;
}

.cood {
  display: flex;
  gap: 20px;
  background-color: transparent;
  align-self: flex-end;
  margin-right: 5%;
}
