* {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 90px;
  width: 100%;
  min-height: 50vh;
  color: black;
  font-family:
    "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-serif;
}
