nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-inline: auto;
  padding-block: 30px;
  background-color: rgb(5, 146, 202);
  border-bottom: 1px solid rgb(180, 172, 172);
}

.logo {
  font-size: 35px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-weight: 700;
  margin-left: 60px;
  text-decoration: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.magnify {
  font-size: 24px;
  cursor: pointer;
}

input {
  width: 250px;
  outline: none;
  padding: 7px;
}
